@import url(graphs.css);
@import url(search.css);
@import url(welcome-home.css);

.ui.inverted.menu {
  margin:0;
}

p {
  font-size: 16px;
}

/*#welcome {
  display: block;
  margin: auto;
}*/

/*.ui.image.stream {
  height: 200px;
}*/

/*.ui.image.scatter {
  height: 180px;
}*/

/*.ui.fluid.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}*/
/*
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}*/

/*.ui.basic.segment:hover img.image {
  opacity: 0.3;
}
.ui.basic.segment:hover .middle {
  opacity: 1;
}*/
